.container 
    width: 1170px
    display: flex
    flex-direction: column
    align-items: center
    margin-bottom: 144px
    h2
        font-size: 40px
        line-height: 40px
        margin-bottom: 50px 